/* Open Sans Fonts */
@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Light-webfont.eot');
  src: url('../Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Light-webfont.woff') format('woff'), url('../Fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-Light-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Regular-webfont.eot');
  src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-Regular-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Semibold-webfont.eot');
  src: url('../Fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../Fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-Semibold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Bold-webfont.eot');
  src: url('../Fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../Fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-Bold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../Fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../Fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* Common useful Functions */
/* Animations */
/* Default animations */
/* Page transitions */
@-moz-keyframes anim-page-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes anim-page-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes anim-page-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animated.anim-page-in {
  -moz-animation-name: anim-page-in;
  -o-animation-name: anim-page-in;
  -webkit-animation-name: anim-page-in;
  animation-name: anim-page-in;
  -moz-animation-duration: 250ms;
  -o-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes anim-page-out {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -200px);
    -moz-transform: translate3d(0, 0, -200px);
    -ms-transform: translate3d(0, 0, -200px);
    -o-transform: translate3d(0, 0, -200px);
    transform: translate3d(0, 0, -200px);
  }
}
@-webkit-keyframes anim-page-out {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -200px);
    -moz-transform: translate3d(0, 0, -200px);
    -ms-transform: translate3d(0, 0, -200px);
    -o-transform: translate3d(0, 0, -200px);
    transform: translate3d(0, 0, -200px);
  }
}
@keyframes anim-page-out {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -200px);
    -moz-transform: translate3d(0, 0, -200px);
    -ms-transform: translate3d(0, 0, -200px);
    -o-transform: translate3d(0, 0, -200px);
    transform: translate3d(0, 0, -200px);
  }
}
.animated.anim-page-out {
  -moz-animation-name: anim-page-out;
  -o-animation-name: anim-page-out;
  -webkit-animation-name: anim-page-out;
  animation-name: anim-page-out;
  -moz-animation-duration: 250ms;
  -o-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* General animations */
@-moz-keyframes anim-shove-in-left {
  from {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-in-left {
  from {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-in-left {
  from {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
.animated.anim-shove-in-left {
  -moz-animation-name: anim-shove-in-left;
  -o-animation-name: anim-shove-in-left;
  -webkit-animation-name: anim-shove-in-left;
  animation-name: anim-shove-in-left;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes anim-shove-in-right {
  from {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-in-right {
  from {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-in-right {
  from {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
.animated.anim-shove-in-right {
  -moz-animation-name: anim-shove-in-right;
  -o-animation-name: anim-shove-in-right;
  -webkit-animation-name: anim-shove-in-right;
  animation-name: anim-shove-in-right;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes anim-shove-in-top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-in-top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-in-top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
.animated.anim-shove-in-top {
  -moz-animation-name: anim-shove-in-top;
  -o-animation-name: anim-shove-in-top;
  -webkit-animation-name: anim-shove-in-top;
  animation-name: anim-shove-in-top;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes anim-shove-in-bottom {
  from {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-in-bottom {
  from {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-in-bottom {
  from {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
.animated.anim-shove-in-bottom {
  -moz-animation-name: anim-shove-in-bottom;
  -o-animation-name: anim-shove-in-bottom;
  -webkit-animation-name: anim-shove-in-bottom;
  animation-name: anim-shove-in-bottom;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes anim-shove-out-top {
  to {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-out-top {
  to {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-out-top {
  to {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
.animated.anim-shove-out-top {
  -moz-animation-name: anim-shove-out-top;
  -o-animation-name: anim-shove-out-top;
  -webkit-animation-name: anim-shove-out-top;
  animation-name: anim-shove-out-top;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim-shove-out-bottom {
  to {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-out-bottom {
  to {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-out-bottom {
  to {
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }
}
.animated.anim-shove-out-bottom {
  -moz-animation-name: anim-shove-out-bottom;
  -o-animation-name: anim-shove-out-bottom;
  -webkit-animation-name: anim-shove-out-bottom;
  animation-name: anim-shove-out-bottom;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim-shove-out-right {
  to {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-out-right {
  to {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-out-right {
  to {
    -webkit-transform: translate3d(60px, 0, 0);
    -moz-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    -o-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    opacity: 0;
  }
}
.animated.anim-shove-out-right {
  -moz-animation-name: anim-shove-out-right;
  -o-animation-name: anim-shove-out-right;
  -webkit-animation-name: anim-shove-out-right;
  animation-name: anim-shove-out-right;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim-shove-out-left {
  to {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim-shove-out-left {
  to {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim-shove-out-left {
  to {
    -webkit-transform: translate3d(-60px, 0, 0);
    -moz-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    -o-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
  }
}
.animated.anim-shove-out-left {
  -moz-animation-name: anim-shove-out-left;
  -o-animation-name: anim-shove-out-left;
  -webkit-animation-name: anim-shove-out-left;
  animation-name: anim-shove-out-left;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim-fade-in {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes anim-fade-in {
  from {
    opacity: 0;
  }
}
@keyframes anim-fade-in {
  from {
    opacity: 0;
  }
}
.animated.anim-fade-in {
  -moz-animation-name: anim-fade-in;
  -o-animation-name: anim-fade-in;
  -webkit-animation-name: anim-fade-in;
  animation-name: anim-fade-in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim-fade-out {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes anim-fade-out {
  to {
    opacity: 0;
  }
}
@keyframes anim-fade-out {
  to {
    opacity: 0;
  }
}
.animated.anim-fade-out {
  -moz-animation-name: anim-fade-out;
  -o-animation-name: anim-fade-out;
  -webkit-animation-name: anim-fade-out;
  animation-name: anim-fade-out;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
body {
  font-family: 'Open Sans';
}
.COMPONENT {
  display: none;
}
/* Common elements */
input[type=text],
input[type=password] {
  font-family: 'Open Sans';
  border: 0;
  border-left: 3px solid #c16b07;
  padding: 6px;
  padding-left: 9px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 100ms ease-out, padding 100ms ease-out;
  -moz-transition: border 100ms ease-out, padding 100ms ease-out;
  -o-transition: border 100ms ease-out, padding 100ms ease-out;
  transition: border 100ms ease-out, padding 100ms ease-out;
}
input[type=text]:focus,
input[type=password]:focus {
  border-left-width: 6px;
  padding-left: 6px;
}
/* Some components */
div.cSmallDialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}
div.cSmallDialog div.container {
  position: absolute;
  top: 50%;
  height: 480px;
  margin-top: -240px;
  left: 50%;
  max-width: 360px;
  width: 100%;
  margin-left: -180px;
  background-color: #f7931d;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
}
div.cSmallDialog div.container header {
  font-weight: 900;
  font-size: 108px;
  line-height: 1;
  opacity: 0.25;
  margin-top: -8px;
  text-transform: capitalize;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
div.cSmallDialog div.container div.content {
  margin: 8px;
}
div.cSmallDialog div.container footer {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 0;
}
div.cSmallDialog div.container footer ul.actions {
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
div.cSmallDialog div.container footer ul.actions li {
  background-color: #f8a644;
  display: inline-block;
  height: 100%;
  text-align: center;
}
div.cSmallDialog div.container footer ul.actions li:last-child {
  background-color: #e37f08;
}
div.cSmallDialog div.container footer ul.actions li a {
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 14px;
  display: block;
  height: 100%;
}
div.cSmallDialog div.container div.content p.logIn {
  text-align: center;
}
div.cSmallDialog div.container div.content form.logIn {
  text-align: center;
}
div.cSmallDialog div.container div.content form.logIn input[type=text],
div.cSmallDialog div.container div.content form.logIn input[type=password] {
  width: calc(100% - 96px);
  font-size: 20px;
  margin: 8px;
}
div.cSmallDialog div.container div.content form.register {
  text-align: center;
}
div.cSmallDialog div.container div.content form.register input[type=text],
div.cSmallDialog div.container div.content form.register input[type=password] {
  width: calc(100% - 96px);
  font-size: 20px;
  margin: 8px;
}
div.cTopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #f7931d;
  color: #fff;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  -o-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
div.cTopBar button.backButton {
  background-color: transparent;
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 32px;
  float: left;
}
div.cTopBar button.backButton:active {
  background-color: #fff;
}
div.cTopBar h1.pageTitle {
  float: left;
  margin: 0 0 0 16px;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  opacity: 0.5;
  height: 100%;
  line-height: 1.25;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
div.cTopBar div.user {
  display: block;
  float: right;
  height: 64px;
}
div.cTopBar div.user img {
  width: 64px;
  height: 64px;
  vertical-align: top;
  margin: 0 0 0 16px;
  padding: 0;
  background-color: #fde5c9;
}
div.cTopBar div.user span {
  font-size: 26px;
  font-weight: normal;
  line-height: 2.5;
  color: #fff;
}
div.cCourseListing {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
div.cCourseListing ul.courses {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 640px;
  margin: 16px auto;
}
div.cCourseListing ul.courses li {
  position: relative;
  margin: 16px 0;
  display: block;
  height: 96px;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
div.cCourseListing ul.courses li div.code {
  position: absolute;
  top: 4px;
  left: 4px;
  line-height: 1;
  font-weight: 900;
  font-size: 48px;
}
div.cCourseListing ul.courses li div.title {
  position: absolute;
  top: 48px;
  left: 6px;
  font-size: 22px;
}
div.cCourseListing ul.courses li.new {
  text-align: center;
  line-height: 2.75;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  border: 5px dashed #000;
  opacity: 0.5;
}
div.cCourseListing ul.courses li.new:hover {
  opacity: 1;
}
div.cCourseDetails {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
/*# sourceMappingURL=App.css.map */