<div id="component_SmallDialog" class="COMPONENT animated cSmallDialog" data-animate-in="anim-fade-in" data-animate-out="anim-fade-out">
	<div class="container animated" data-animate-in="anim-shove-in-bottom" data-animate-out="anim-shove-out-bottom">
		<header class="animated" data-animate-in="anim-shove-in-left"></header>
		<div class="content"></div>
		<footer class="animated" data-animate-in="anim-shove-in-bottom" data-animate-out="anim-shove-out-bottom">
			<ul class="actions"></ul>
		</footer>
	</div>
</div>