<div id="component_TopBar" class="COMPONENT animated cTopBar" data-animate-in="anim-shove-in-top" data-animate-out="anim-shove-out-top">
	<h1 class="pageTitle animated"></h1>
	<div class="user">
		<span></span>
		<img src="" />
	</div>
</div>