@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseMate</title>
	@Styles.Render("~/Content/Bundles/Css")
</head>
<body>
	<noscript>This web application requires JavaScript, friend.</noscript>
    
	<!-- include components -->
	<!-- COMPONENTS -->
	@RenderPage("Components/SmallDialog.cshtml")

	<!-- Javascript -->
	@Scripts.Render("~/Bundles/JavaScript")
	@Scripts.Render("~/Bundles/TypeScript")
</body>
</html>
